# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

app/frontend/yarn.lock
app/frontend/package-lock.json
app/backend/yarn.lock
app/backend/package-lock.json
app/frontend/node_modules
app/frontend/node_modules/*
app/backend/node_modules
app/backend/node_modules/*
app/backend/.env
app/frontend/node_modules/.cache/.eslintcache
